<!DOCTYPE HTML>
<html>
	<head>
		<title>Pat's Sushi House</title>
		<link rel="stylesheet" href="static/css/foundation.css">
		<link rel="stylesheet" href="static/css/normalize.css">
		<link rel="stylesheet" href="static/style.css">

		<script src="static/js/vendor/modernizr.js"></script>
	</head>

	<body>
		<!--Headings-->
		<div class="row">
			<div class="large-9 columns">
				<div><h1>Welcome to Pat's Sushi House!</h1></div>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns, h2-slideoff">
				<h2>Sushi Menu</h2>
			</div>
		</div>

		<!--Orbit Container-->
		<div class="row, sushi-slideoff">
			<div class="medium-3 columns">
				<div class="orbit-container">
					<ul data-orbit class="orbit-slides-container">
						{% for item in menu %}
						<li>
						<img src="/static/img/{{ item[2] }}">
						<div class="orbit-caption">{{ item[1] }}</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<!--Item Prompt-->
		<div class="row">
			<div class="small-4 column">
				<div class="callout panel">
					<form action="/order">
						<label>What kind of sushi would you like? </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-6 column">
					<select name="sushi">
						<option value=""> Please Select </option>
						{% for item in menu %}
						<option value='{{ item[0] }}'> {{ item[1] }} </option>
						{% endfor %}
					</select>
				</div>
			</div>
			<!--Twilio Form-->
			<div class="row">
				<div class="medium-6 medium-4 column">
					<div class="callout panel">
						<label>Please enter your number here so we can let you know when your order is ready.</label><br>
						<input name="twilio" type="text" />
						<input class="small round button" type="submit" value="Submit" />
					</form>
				</div>
			</div>
		</div>

		<script src="/static/js/vendor/jquery.js"></script>
		<script src="/static/js/vendor/fastclick.js"></script>
		<script src="/static/js/foundation.min.js"></script>
		<script>$(document).foundation();</script>
		<audio>
		<source src="/static/Lunar_Vi-corrifir.mp3"></source>
		</audio>
		<script>
			var audio = document.getElementsByTagName("audio")[0];
			audio.play();
		</script>
	</body>
</html>
